*{
    margin : 0;
    padding: 0;
    font-family: Tahoma;
    box-sizing: border-box;
}

.nav{
    height: 110px;
    background-color: white;
    display: flex;
    align-items: center;
}

.nav-img:hover{
    cursor: pointer;
}

.nav-img{
    height: 100%;
    width: 20px;
}

.nav-txt{
    display: flex;
    margin-right: 400px;
}

.logo-1{
    width: 190px;
    margin-right: 400px;
}

.nav-txt p{
    margin-right: 50px;
    font-size: 18px;
    color: grey;
    font-family: cursive;
}

.search{
    margin-right: 20px
}

.search,.profile{
    width: 30px;
}

#selected{
    font-weight: bold;
    color: black;
}

.section-1{
    height: 100vh;
}

/* #e73e43; PIZZA HUT COLOR LOGO */

.sec-1-content{
    height: 84.8%;
    position: relative;
}

.circle{
    position: absolute;
    width: 320px;
    height: 400px;
    background-color: #e73e43;
    bottom: 30px;
    right: 0;
    border-radius: 190px 0px 0px 210px;
    z-index: 0;
}

.content{
    display: grid;
    grid-template-columns: 60% 40%;
}

.image-pizza{
    z-index: 2;
}

.text{
    padding: 100px 0px 0px 20%;
    font-size: 29px;
}

.btn-order{
    border: none;
    background-color: black;
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    margin-top: 30px;
}

.btn-order:hover{
    color:black;
    background-color: white;
    border: 2px solid black
}

.btn-order:active{
    background-color: black;
    color: white;
}
.text-big{
    font-size: 50px;
}

.text-small{
    margin-top: 10px;
}

.nav-txt p:hover{
    color:black;
    cursor:pointer
}

